body{
	font-family: Comic Sans MS;
	background-color: #00000010;
}
.logo{
	text-align: center;
	margin: 10px;
}
.sds{
    background-color: #000000;
	color:white;
}
.forma_poluchit{
    border-radius: 10px;
    border: 10px;
    margin: 10px;
    padding: 10px;
	width: 550px;
	height: 205px;
}
input{
	width: 100%;
	height: 60px;
}
a{
    text-decoration:none;
	color: rgb(255, 255, 255);
}
table{
	margin-left: 10px;
    text-align: center;
    width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
    border: 1px solid #000000;
    padding: 3px;
	width: 550px;
	height: 210px;
	color: rgb(0, 0, 0); 
	font-weight: normal;
}
tr{
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
    border: 1px solid #000000;
}
td{
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
    border: 1px solid #000000;
}
.poluchit{
    margin-top: 5px;
	width: 100%;
	height: 50px; 
}
hr{
	margin: 0px;
}
.sitebar{
	height:791px;
	position: relative;
	background-color: #000000;
}
.cveta{
		color: rgb(255, 255, 255);
		padding: 20px;
}
.first-input{
margin-bottom: 5px;
}
